
form{
    width: 900px;
    height: 50%;
    color: aquamarine;
    opacity: 1;
   padding: 20px;
   align-content: center;
   text-align: center;
   margin: 4px;
   border-color: black;
   font-size: larger;
}
.card{
    
    background-color: rgb(214, 214, 231);
    background-image: url(../images/kids.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} 
/* .card-body{
    
    background-image: url(../images/back.jpg);
   
}
.text-center{
    background-image: url(../images/back.jpg);
   
} */
label{
    color: rgb(2, 6, 29);
    font-size: medium;
    font-weight: bolder;
}