body{
    background-image: url('../images/fahm.jpg');
    background-color: rgb(93, 93, 109);
    /* background-repeat: no-repeat; */
    /* background-size: cover; */

}
p{
    text-align: center;
}
form {
    width: 20px;
    height: 30px;
    color: aquamarine;
    opacity: 1;
   padding: 20px;;
}
.myform {
    text-align: center;
    width: 20px;
    height: 30px;
    filter: none;
    width: 35vw;
    border-radius: 7%;
    position: relative;
    opacity: 1;
    height:99vh;
    margin: auto;
}
label {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem; 
    margin-bottom: 1rem;
}



